* {
    padding: 0;
    margin:0;
    font-family: Helvetica;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow-x:hidden;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: repeat(8, 20vh);
    grid-template-areas: "Dashboard Header" 
                         "Dashboard Body"
                         "Dashboard Body" 
                         "Dashboard Body" 
                         "Dashboard Body" 
                         "Dashboard Body" 
                         "Dashboard Body" 
                         "Dashboard Body";
}

.Dashboard {
    grid-area: Dashboard;
    display:grid;
    background-color: #1992D4;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    grid-template-rows: repeat(12, 1.5rem);
    align-items: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
    gap:0.9rem;
    
   
}

.Dashboard div:not(.Main) {
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
}

.Main {
    font-size:1.6rem;
    display: flex;
    align-items: center;
}

.Dashboard  .Main img {
    width:2.5rem;
    height:2.5rem;
}

.Dashboard img {
    width:1.2rem;
    height:1.2rem;
    padding-right:0.75rem;
    filter: brightness(0) invert(1);
}

.Header {
    grid-area: Header;
    position: relative;
    z-index: 10;
    background-color: #FFFFFF;
    display: grid;
    box-shadow: 0 0.05rem 1rem 0 rgba(0,0,0,0.2);
    grid-template-columns: repeat(4, 1fr) 1.5fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: "Search Search Search Fit Noti"
                         "Entry Entry Blank Extra Extra";
}

.Header img {
    height: 1.2rem;
    width: 1.2rem;
    padding-right: 0.5rem;
}

.Search {
    grid-area: Search;
    display: flex;
    padding-top:1rem;
    padding-left: 2.5rem;
    align-items: center;
    gap: 0.5rem;  
}

form {
    width:100%;
    height: 2rem;
}

input{
    border-radius: 10px 10px 10px 10px;
    background-color: #E2E8F0;
    border-width: 0px;
    width:90%;
    height:85%
}

input::placeholder {
    padding-left: 1rem;
}

.Notification {
    grid-area: Noti;
    padding-top:1rem;
    display:flex;
    align-items: center;
    font-weight: 700;
    justify-content: flex-end;
}

img[src="Thumbs.jpeg"] {
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
}

.Notification p {
    margin-left: auto;
    padding-right: 2.5rem;
}

.Entry {
    grid-area: Entry;
    display:flex;
}

.Entry img[src="Thumbs.jpeg"] {
    padding-top:0.5rem;
     width: 3em;
    height: 3rem;
    padding-left:2rem;
}

.Entry div p:first-child {
    font-size:0.6rem;
    font-weight: 700;
    padding-top:1rem;
    
}

.Entry div p:nth-child(2) {
    font-weight: 700; 
    padding-top:0.25rem;
}

.Extra {
    grid-area: Extra;
    display: flex;
    gap:1.5rem;
    color:white;
    align-items: center;
    justify-content: end;
    padding-right:2.5rem;
   
}

.Extra > div {
     background-color:#1992D4;
     font-size: 0.7rem;
     padding: 0.5rem 1.5rem 0.5rem 1.5rem;
     font-weight:700;
    border-radius: 100px ;
    justify-content: flex-end;
}

.Body {
    grid-area: Body;
    display: grid;
    background-color: #E2E8F0;
    min-height:20vh;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Projects Announce"
                         "Projects Trending";
}


.Projects p {
    grid-column: 1 / 3;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 4vh;
    padding-left: 1.5vw;
}

.Projects {
    display:grid;
    grid-area: Projects;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
}


.Projects div {
    grid-auto-rows:20vh;
    width: 50%;
    height: 20vh;
    gap:2rem;
    background-color: white;
    
}



